<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="PATCH" th:object="${book}" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <label for="bth">Enter name of book</label>
    <input type="text" th:field="*{name}" id="bth"/>
    <label for="bth1">Enter author of book</label>
    <input type="text" th:field="*{author}" id="bth1"/>
    <label for="bth2">Enter year of book</label>
    <input type="text" th:field="*{year}" id="bth2"/>
    <input type="submit" value="Update book"/>
</form>
</body>
</html>